body {
    font-size: 18px;
    height: 100%;
    background-image: url(../img/it.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
}

h2 {
    padding: 10px;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: rgb(238, 238, 219);
    margin-bottom: 40px;
}

td, th {
    text-align: center;
    min-width: 70px;
    padding: 3px;
    border: 5px solid black;
}

p {
    padding: 10px 0px 0px 10px;
}

.img__csharp {
    position: auto;
    padding: 20px 0px 0px 20px;
    max-width: 800px;
    max-height: 400px;
}

.river {
    padding-left: 20%;
    padding-top: 3%;
    max-width: 400px;
    max-height: 400px;
}

.url {
    font-size: 20px;
}

[class*="language-"] {
    margin-bottom: 40px;
    background-color: rgba(212, 206, 206, 0.842);
    border-radius: 10px;
    border: 3px solid orange;
    max-width: 800px;
    min-height: 200px;
}

ul {
    padding-left: 5%;
}

li {
    padding-top: 10px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: white;
    color: black;
    max-width: 800px;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}
.popup__text {}

input {
    border-radius: 5px;
    min-width: 200px;
}